In [3]:
import pandas as pd
brands = pd.read_csv('/home/malak/bikestore_dim/brands/brands.csv', header=0)

In [13]:
customers

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code
0,1,Debra,Burks,NaN,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127
1,2,Kasha,Todd,NaN,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008
2,3,Tameka,Fisher,NaN,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278
3,4,Daryl,Spence,NaN,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820
...,...,...,...,...,...,...,...,...,...
1440,1441,Jamaal,Morrison,NaN,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301
1441,1442,Cassie,Cline,NaN,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201
1442,1443,Lezlie,Lamb,NaN,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722
1443,1444,Ivette,Estes,NaN,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424
1444,1445,Ester,Acevedo,NaN,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580

In [10]:
import pandas as pd
staff= pd.read_csv('/home/malak/bikestore_dim/staff/staffs.csv', header=0)

In [8]:
import pandas as pd
categories= pd.read_csv('/home/malak/bikestore_dim/categories/categories.csv', header=0)

In [17]:
import pandas as pd
products= pd.read_csv('/home/malak/bikestore_dim/products/products.csv', header=0)

In [19]:
import pandas as pd
stocks= pd.read_csv('/home/malak/bikestore_dim/stocks/stocks.csv', header=0)

In [22]:
import pandas as pd
stores= pd.read_csv('/home/malak/bikestore_dim/stores/stores.csv', header=0)

In [21]:
import pandas as pd
customers= pd.read_csv('/home/malak/bikestore_dim/customers/customers.csv', header=0)

In [23]:
stores

,store_id,store_name,phone,email,street,city,state,zip_code
0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,NaN
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0

In [1]:
import pandas as pd
from datetime import datetime

def add_columns_and_export(source_path, output_path):
  
    df = pd.read_csv(source_path, header=0)
    
    df['extract_time'] = datetime.now()
    
   
    df['source_name'] = source_path
  
    df.to_csv(output_path, index=False)


source_path = '/home/malak/bikestore_dim/staff/staffs.csv'
output_path = '/home/malak/landing/staff/staff.csv'
add_columns_and_export(source_path, output_path)

In [2]:
add_columns_and_export('/home/malak/bikestore_dim/customers/customers.csv', '/home/malak/landing/customers/customers.csv')

In [3]:
add_columns_and_export('/home/malak/bikestore_dim/products/products.csv', '/home/malak/landing/products/products.csv')

In [4]:
add_columns_and_export('/home/malak/bikestore_dim/stores/stores.csv', '/home/malak/landing/stores/stores.csv')

In [5]:
add_columns_and_export('/home/malak/bikestore_dim/brands/brands.csv', '/home/malak/landing/brands/brands.csv')

In [6]:

add_columns_and_export('/home/malak/bikestore_dim/categories/categories.csv', '/home/malak/landing/categories/categories.csv')

In [7]:
add_columns_and_export('/home/malak/bikestore_dim/stocks/stocks.csv', '/home/malak/landing/stocks/stocks.csv')